  <!-- hero section -->
  <div id="hero-about">
    <div class="hero-content">
      <h1>BIOGRAPHY</h1>
    </div>
  </div>
  <!-- hero section end -->
  
  <!-- in the works  -->
  <div id="works">
    <div class="container">
      <div class="row">
        
        <p>
          In the ever-growing music industry we are starting to notice a lot of the same kinds of artists emerging. There is a lack of originality and uniqueness among artists, but that all changes with Mikey AK. <br><br> Born February 25, 1990 in Washington DC Michael Akinfe Jr., known to most as Mikey AK, has always had an interest in music and lyrics. <br><br> Growing up in the small town of Glen Burnie, MD Mikey AK played the alto saxophone, cello, drums and wrote poetry since the age of 10. However it wasn’t until 2009 when he was attending Grand Canyon University and met good friend James “Fenix’’ Wallace who convinced him to actually take a stab at recording original songs. <br><br> The rest as they say is history. Since his emergence on the music scene Mikey AK has released 10 mixtapes including a collaboration project with with Fenix. Currently he is gearing up to release his next mixtape titled #OneMoreFreebieTheMixtape this summer, as well as his first studio album titled “Classic Rap” produced by the very talented Andrew "Drew Beats” Bowers set to drop in fall of 2016. <br><br> With a witty and clever approach to life, coupled with motivational lyrics all while riding over some great production Mikey AK hopes to spread his message of positivity and his brand The Cloud Life to the masses. Inspiration, progress and elevated thinking are qualities we all have in us, Mikey AK just wants to make us realize that through music.
        </p>
        
      </div>
    </div>
  </div>
  <!-- in the works section end -->
