  <!-- hero section -->
  <div id="hero-contact">
    <div class="hero-content">
      <h1>The Connection</h1>
      <div class="row" id="contact-fonts">
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <i class="fa fa-soundcloud" aria-hidden="true"></i>
        <i class="fa fa-youtube" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  <!-- hero section end -->
  