  <!-- hero section -->
  <div id="hero-contact">
    <div class="hero-content">
      <h1>The Connection</h1>
      <div class="row" id="contact-fonts">
        <a href="https://www.facebook.com/mike.akinfe" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="https://twitter.com/mronmycloud" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="https://soundcloud.com/mikeyak" target="_blank"><i class="fa fa-soundcloud" aria-hidden="true"></i></a>
        <a href="https://www.youtube.com/channel/UC7WcL0YQTsP4ZQa45pSJEXg" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
  <!-- hero section end -->
  