    <!-- hero section -->
    <div id="hero">
      <!-- <video src="assets/videoplayback.mp4" class="hidden-xs" autoplay loop="true"></video> -->
      <%= video_tag "videoplayback.mp4", class: "hidden-xs", autoplay: true , loop: true %>
      <div class="hero-content">
        <img src="assets/mikeyak-logo.PNG" alt="" class="hero-logo img-responsive center-block animated infinite bounce">
        <h1>MIKEY AK</h1>
      </div>
    </div>
    <!-- hero section end -->

    <!-- in the works  -->
    <div id="works">
      <div class="container">
        <div class="row">
          <h2>In the Works</h2>
          <p>
            The first single off Mikey AK's upcoming project #OneMoreFreebieTheMixtape is "The Edge". This smooth sampled instrumental created by none other than super producer Drew Beats and Mikey uses this track to bring his fans up to date with what has been going with him in his recent hiatus from the music industry. Take a listen to this track as he takes you on a trip through the mind of The Cloud Life general.
          </p>
          <a href="#" class="btn btn-default">Listen to it here.</a>
        </div>
      </div>
    </div>
    <!-- in the works section end -->
    <div id="cta-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 oneside-img">
            <!-- <img src="img/the-show.JPG" alt=""> -->
          </div>
          <div class="col-md-6 text-side">
            <h1>Upcoming Shows</h1>
            <a href="#" class="btn btn-default">Next Show</a>
          </div>
        </div>
        <!-- next row -->
        <div class="row">
          <div class="col-md-6 text-side">
            <h1>Video Projects</h1>
            <a href="#" class="btn btn-default">What's new</a>
          </div>
          <div class="col-md-6 oneside-vid">
            <!-- <img src="img/the-show.JPG" alt=""> -->
          </div>      
        </div>
        <!-- next row -->
        <div class="row">
          <div class="col-md-6 oneside-music">
            <!-- <img src="img/the-show.JPG" alt=""> -->
          </div>
          <div class="col-md-6 text-side">
            <h1>Latest Tracks</h1>
            <a href="#" class="btn btn-default">Take a Listen</a>
          </div>
        </div>
      </div>
    </div>
    <!-- section end -->
