<footer>
  <div class="container">
    <div class="row" id="footer-text">
      <div class="col-xs-4"><p>2016 Copyright</p></div>
      <div class="col-xs-4"><p>MikeyAK.com</p> </div>
      <div class="col-xs-4"><p>Designed by Ken Ijiwoye</p></div>
    </div>
  </div>
</footer>