<!-- navbar section -->
    <nav class="navbar navbar-default navbar-fixed-top" >
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#toggleNav" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span>MENU</span>
          </button>
          <a href="/" class="navbar-brand">MikeyAK</a>
        </div>

        <div class="collapse navbar-collapse" id="toggleNav">
        <% if user_signed_in? %>
          <ul class="nav navbar-nav">
            <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete, data: {confirm: "Are you sure?"} %></li>
          </ul>
        <% end %>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li><a href="/gigs">Shows</a></li>
            <li><a href="/videos">Videos</a></li>
            <li><a href="/music">Music</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- nav section end -->